/* Plant Collections Section */
@use './variables' as *;

#collections {

    margin: 50px 0;

    .wrapper {
        flex-wrap: wrap;
    }

    .collectionItem {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 300px;
        padding: 0 50px;

        .textContainer {
            width: 40%;
        }

        p {
            margin: 40px 0 10px 0;
        }

        h3 {
            font-size: 3rem;
            margin: 0;
            padding: 0;
        }

        button {
            padding: 10px 20px;
        }
    }

    #collectionItemOne {
        align-items: flex-start;
        justify-content: center;
        width: 64.5%;
        margin: 0 1.5% 1.5% 0;
        background-image: url(../assets/b1.jpeg);

    }

    #collectionItemTwo {
        align-items: center;
        width: 31.5%;
        margin: 0 0 1.5% 1.5%;
        background-image: url(../assets/b2.jpeg);
    }

    #collectionItemThree {
        align-items: center;
        width: 31.5%;
        margin: 1.5% 1.5% 0 0;
        background-image: url(../assets/b3.jpeg);
    }

    #collectionItemFour {
        align-items: flex-start;
        justify-content: center;
        width: 64.5%;
        margin: 1.5% 0 0 1.5%;
        background-image: url(../assets/b4.jpeg);
    }
}