/* Plant Offer Section */
@use './variables' as *;

#plantOffer {
    background-color: $colorSeven;

    .wrapper {
        justify-content: left;
        align-items: center;
    }

    h2 {
        font-size: 4.5rem;
        font-weight: 300;
        margin: 0;
    }

    p {
        margin: 10px 0;
    }

    img {
        padding: 0 0 0 50px;
    }
}