@use "./partials/setup";

/* Generic Use HTML */

$colorOne: #abd373;
$colorTwo: #4c4c4c;
$colorThree: #000;
$colorFour: #dee2e6;
$colorFive: #fff;
$colorSix: #f6f7fb;
$colorSeven: #F8EEE5;

html {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
}

body,
p {
    font-size: 1.8rem;
    line-height: 3.6rem;
}

h1 {
    font-size: 7rem;
    line-height: 6rem;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

button {
    color: $colorFive;
    background-color: $colorOne;
    font: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 25px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.sectionRule {
    color: $colorOne;
    letter-spacing: -4px;
    text-align: center;
}

/* HEADER STYLING */

header {

    text-transform: uppercase;

    .wrapper {
        justify-content: space-between;
        align-items: center;
    }

    #topHeader {
        color: $colorFive;
        background-color: $colorOne;

        p {
            font-size: 1.25rem;
        }
    }

    #bottomHeader {
        padding: 15px 5px;

        object {
            height: 20px;
            width: 20px;
            margin: 15px 0 0 95px;
        }

        li {
            float: left;
            padding: 0 20px;
            font-size: 1.25rem;
        }

    }
}

/* PLANT OFFER SECTION */

#plantOffer {
    background-color: $colorSeven;

    .wrapper {
        justify-content: left;
        align-items: center;
    }

    h2 {
        font-size: 4.5rem;
        font-weight: 300;
        margin: 0;
    }

    p {
        margin: 10px 0;
    }

    img {
        padding: 0 0 0 50px;
    }
}

/* THREE-ICON BAR */

#iconBar {

    padding: 50px 0;

    .wrapper {
        justify-content: space-around;
        align-items: center;
    }

    .iconBox {
        display: flex;
        align-items: center;
        border: 2px dashed $colorOne;
        padding: 15px 20px 20px 20px;

        .imageContainer {
            padding: 10px 15px 0 0;

            img {
                height: 30px;
                width: auto;
            }

        }

        h6 {
            font-size: 1.5rem;
            margin: 0;
        }

        p {
            font-size: 1.25rem;
            margin: 0;
            line-height: 1.25rem;
            padding: 0 0 5px 0;
        }
    }
}

/* Our Products title and buttons */

#ourProducts {

    h5 {
        font-size: 3rem;
        margin: 20px;
        text-transform: uppercase;
    }

    .wrapper {
        justify-content: center;
    }

    #gallerySelectButtons {
        button {
            font-size: 1.25rem;
            text-transform: none;
            color: $colorThree;
            background-color: $colorFive;
            border: 2px solid $colorFour;
            border-radius: 0px;
            padding: 0 10px;
            margin: 10px;

        }

        button:hover {
            color: $colorOne;
            border: 2px dotted $colorOne;
        }
    }
}

/* Gallery of Items for Sale */

#plantList {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .plantUnit {
        width: 25%;
        padding: 10px;

        .imageContainer {
            display: flex;
            justify-content: center;
        }

        .textContainer {

            button {
                border-radius: 0;
                color: $colorFour;
                background-color: $colorFive;
                border: none;
                box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.3);
                margin: 5px 0 5px 10px;
            }

            button:hover {
                color: $colorThree;

            }

            p {
                line-height: 1rem;
            }

            .price {
                color: $colorOne;
            }
        }
    }
}

/* plant collections section */

#collections {

    margin: 50px 0;

    .wrapper {
        flex-wrap: wrap;
    }

    .collectionItem {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 300px;
        padding: 0 50px;

        .textContainer {
            width: 40%;
        }

        p {
            margin: 40px 0 10px 0;
        }

        h3 {
            font-size: 3rem;
            margin: 0;
            padding: 0;
        }

        button {
            padding: 5px 20px;
        }
    }

    #collectionItemOne {
        align-items: flex-start;
        justify-content: center;
        width: 64.5%;
        margin: 0 1.5% 1.5% 0;
        background-image: url(../assets/b1.jpeg);

    }

    #collectionItemTwo {
        align-items: center;
        width: 31.5%;
        margin: 0 0 1.5% 1.5%;
        background-image: url(../assets/b2.jpeg);
    }

    #collectionItemThree {
        align-items: center;
        width: 31.5%;
        margin: 1.5% 1.5% 0 0;
        background-image: url(../assets/b3.jpeg);
    }

    #collectionItemFour {
        align-items: flex-start;
        justify-content: center;
        width: 64.5%;
        margin: 1.5% 0 0 1.5%;
        background-image: url(../assets/b4.jpeg);
    }
}

/* section with articles */

#posts {

    margin: 0 0 60px 0;

    .wrapper {
        justify-content: center;
    }

    h5 {
        font-size: 3rem;
        margin: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    #postsSubtitle {
        width: 30%;

        p {
            text-align: center;
        }
    }

    article {

        background-color: $colorSix;
        display: flex;
        flex-direction: column;
        padding: 25px;
        margin: 1.5%;

        h4 {
            font-size: 2.75rem;
            margin: 0;
        }

        .articleAuthorAndDate {
            color: $colorOne
        }

        p {
            margin: 0;
        }

        img {
            padding-top: 25px;
        }

    }

    article:nth-child(1) {
        margin-left: 0;
    }

    article:nth-child(3) {
        margin-right: 0;
    }

}

/* footer section */

footer {

    background-image: url(../assets/footer.jpg);
    background-size: cover;
    overflow: hidden;

    .footerBit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 20%;
        padding: 15px;

        ul {
            padding: 0;
            margin: 0;
        }

        .footerHeader {
            font-size: 2.0rem;
            padding: 15px 0 0 0;
        }

        #phoneNumber {
            font-size: 3rem;
            margin: -20px 0 0 0;
            padding: 0 0 10 0;

        }

        img {
            margin: 0 0 15px 0;
        }

        button {
            color: $colorThree;
            background-color: transparent;
            border: 1px solid $colorThree;
            width: 35px;
            height: 35px;
            border-radius: 0;
            padding: 0;
            margin: 5px;

            object {
                height: 12px;
                width: auto;
                margin: 5px 0 0 0;
            }

        }

    }

    #copyright {
        color: $colorOne;
        text-align: center;
        line-height: 0rem;
        padding: 0;
    }
}

//Contact Page//

#contactTitle {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 388px;

    .wrapper {
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-transform: uppercase;
    }

}

#contactSection {

    padding: 80px 0;

    .wrapper {
        box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.3);
    }

    #contactInfo {
        background-image: url(../assets/contact.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $colorFive;
        padding: 40px;
        width: 33%
    }

    #contactInput {
        width: 66%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        form {

            input,
            textarea {
                width: 45%;
                color: $colorTwo;
                border: none;
                border-bottom: 1px solid;
                margin: 2%;
            }

            input::placeholder,
            textarea::placeholder {
                font-style: italic;
            }

            textarea {
                width: 95%;
                height: 80px;
                resize: vertical;
            }

            div {
                display: flex;
                justify-content: right;
                margin: 2%;
                button {
                    border-radius: 10px;
                }
            }
        }
    }

}

//Media Queries//

@media (max-width: 762px) {

    #bottomHeader {

        .wrapper {
            flex-direction: column;
            justify-content: center;

            object {
                margin: 20px 0;

            }

            .imageContainer {
                min-width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    #iconBar .wrapper {
        flex-direction: column;
    }

    .iconBox {
        width: 75%;
        margin: 20px 0;
        justify-content: center;
    }

    .plantUnit {
        min-width: 33%;
    }

    #articleWrapper {
        flex-wrap: wrap;
    }

    article {
        width: 45%;
    }

    footer {
        .wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        .footerBit {
            min-width: 50%;
            align-items: center;
            text-align: center;
        }

        .footerBit:nth-child(1) {
            min-width: 100%;
        }
    }

    #contactSection .wrapper {
        flex-direction: column;

        #contactInfo,
        #contactInput {
            width: 100%;
            background-size: cover;

            form {
                text-align: center;

                textarea {
                    width: 95%;
                }

                div {
                    justify-content: center;
                }

            }
        }

    }


    @media (max-width: 480px) {


        #topHeader {
            .wrapper {
                flex-direction: column;
            }
        }

        .plantUnit {
            min-width: 50%;
        }

        .collectionItem {
            min-width: 100%;
        }

        #articleWrapper {
            flex-direction: column;
        }

        article {
            min-width: 100%;
        }

        footer {
            .wrapper {
                flex-direction: column;
            }

            .footerBit {
                min-width: 100%;
            }
        }

        #contactInput {
            flex-direction: column;
            align-items: center;

            input,
            textarea {
                max-width: 90%;
                min-width: 90%;
            }
        }
    }
}